.reset-password{
    margin: 7% 0 0 5%;
}
.reset-password-form{
    margin-top: 5%;
}
.reset-password-form button{
    margin-top: 5%;
}
.method{
    text-decoration: none;
    text-align: center;
    color: #535e7d;
    margin-top: 3%;
}